---
import MarkdownPage from '../../layouts/MarkdownPage.astro';
import SectionCards from '../../components/SectionCards.astro';
import { url } from '../../utils';
---

<MarkdownPage slug="about">
  <section class="section section--gray">
    <div class="container">
      <SectionCards
        items={[
          {
            title: 'Who We Are',
            text: 'Our mission, leadership, and the Grand Challenges award behind WHIRC.',
            href: url('/about/who-we-are/'),
          },
          {
            title: 'What We Do',
            text: 'Our three pillars: translational research, workforce development, and community partnership.',
            href: url('/about/what-we-do/'),
          },
        ]}
      />
    </div>
  </section>
</MarkdownPage>
